<!DOCTYPE html>
<head>
    <title>League of Legends Strat Roulette</title>
    <link rel='stylesheet' href='styles.css'>
    <link href="https://fonts.googleapis.com/css2?family=Red+Rose:wght@700&display=swap" rel="stylesheet">

</head>
<body>
    <div class='flex-center-container'>
        <div class='flex-center-container'>
            <div>
                <h1>League of Legends<br>Strat Roulette</h1>
            </div>
            <div class='heading-sub-container'>
                <p>
                    Strat Roulette will generate some fun rules that you and/or your team must follow in game. Get a
                    group of friends together to play a chaotic game that may lead to a new OP strategy, or lead you
                    to a 15 minute forfeit.
                </p>
            </div>
        </div>
        <div class='flex-center-container customize-game-container'>
            <h3>Customize your experience</h3>
            <form>
                <div class='flex-center-container'>
                    <legend class='legend-heading'>When do you want to generate rules?</legend>
                    <legend class='legend-sub'>Choose 1 or both options</legend>
                    <fieldset name='rule-gen' >
                        <div class='rule-gen-opts-container'>
                            <div class='opts-wrapper'>
                                <label class='rule-gen-opts-container-lbl'>
                                    <input type='checkbox' name='rule-gen' value='pregame' class='hidden'>
                                    <span>Generate champ select and early game rules</span>
                                </label>
                            </div>
                            <div class='opts-wrapper'>
                                <label class='rule-gen-opts-container-lbl'>
                                    <input type='checkbox' name='rule-gen' value='in-game' class='hidden'>
                                    <span>Generate rules every 4 minutes in game</span>
                                </label>
                            </div>
                        </div>
                        <div class='submit-btn-wrapper'>
                            <input type='submit' name='startBtn' value='Generate rules!' class='submit-btn'>
                        </div>
                    </fieldset>
                </div>
            </form>
        </div>
        <div class='footer-wrapper'>
            <footer>Made by Jade Law 2020</footer>
        </div>
    </div>
</body>